/*rgb(24, 28, 20)
rgb(60, 61, 55)
rgb(105, 117, 101)
rgb(236, 223, 204)*/

* {
   
    -webkit-box-sizing: border-box;
   
            box-sizing: border-box;}
/* Definición de variables CSS para la paleta de colores */
    :root {
            --color-dark-main: rgb(24, 28, 20);
            /* Oscuro principal (Texto, Fondo de encabezado) */
            --color-dark-secondary: rgb(60, 61, 55);
            /* Oscuro secundario (Bordes, Sombras) */
            --color-accent: rgb(105, 117, 101);
            /* Medio/Acento (Botones, Títulos de sección) */
            --color-light: rgb(236, 223, 204);
            /* Fondo/Claro (Fondo del cuerpo, Fondo de formulario) */
            --color-white: #ffffff;
        }

body {
    background-color: var(--color-accent);
    color:var(--color-dark-main);
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.header {
    background-color: var(--color-accent);
    height: 70px;
  
  position: sticky;
  top: 0;
  }

  .nav  {
    background-color: var(--color-light);
  }

.logo {
    width: 110px;
    height: 65px;
    
    margin-top: 2px;
    margin-left: 3px;
    border-radius: 10px;
    -webkit-animation: rotar 6s linear 2 alternate;
            animation: rotar 6s linear 2 alternate;
}

.main {
  
    padding: 20px;
    margin-left: 10px;
    


}

  @-webkit-keyframes rotar
  {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);left:0px;}
  25% {-webkit-transform: rotate(20deg);transform: rotate(20deg);left:0px;}
  50% {-webkit-transform: rotate(0deg);transform: rotate(0deg);left:200px;}
  55% {-webkit-transform: rotate(0deg);transform: rotate(0deg);left:200px;}
  70% {-webkit-transform: rotate(0deg);transform: rotate(0deg);left:200px;}
  100% {-webkit-transform: rotate(-360deg);transform: rotate(-360deg);left:0px;} 
  }

  @keyframes rotar
  {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);left:0px;}
  25% {-webkit-transform: rotate(20deg);transform: rotate(20deg);left:0px;}
  50% {-webkit-transform: rotate(0deg);transform: rotate(0deg);left:200px;}
  55% {-webkit-transform: rotate(0deg);transform: rotate(0deg);left:200px;}
  70% {-webkit-transform: rotate(0deg);transform: rotate(0deg);left:200px;}
  100% {-webkit-transform: rotate(-360deg);transform: rotate(-360deg);left:0px;} 
  }


.aside {
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}


.footer {
    background-color: var(--color-light);
     width: 100%;
     text-align: center;
     position:absolute;
     padding: auto;
margin-top: 0;  


    
    
    
   
  

}

